In [61]:
#first program
print("this is book !!")

this is book !!

In [62]:
#variables
var1 = "chandu"
print(var1)

chandu

In [63]:
#data-type
a = 10
type(a)

int

In [64]:
a = 10.3
type(a)

float

In [65]:
a = "sparta"
print(a)

sparta

In [66]:
a = True
type(a)

bool

In [67]:
a =3+4j
type(a)

complex

In [68]:
#Arithmetic Operators
a=10
b=20
print(a+b)

30

In [69]:
print(a-b)

-10

In [70]:
print(a*b)

200

In [71]:
#relational Operators
a = 10
b =20
a>b

False

In [72]:
a<b

True

In [73]:
a==b

False

In [74]:
a!=b

True

In [75]:
#logical Operators
a=True
b=False
print(a & b)

False

In [76]:
#string
my_string = "My name is chandu"
my_string[0]

'M'

In [77]:
my_string = "My name is chandu"
my_string[-1]

'u'

In [78]:
my_string[0:4]

'My n'

In [79]:
len(my_string)

17

In [80]:
my_string.lower()

'my name is chandu'

In [81]:
my_string.upper()

'MY NAME IS CHANDU'

In [82]:
my_string.replace('y','c')

'Mc name is chandu'

In [83]:
new_string="hello hello hello Gulu"
new_string.count("hello")

3

In [84]:
s1 = 'This is chandu!!!'
s1.find('chandu')

8

In [85]:
s1.find('a')

10

In [86]:
fruit ='i like apples , mangoes, bananas'
fruit.split(',')

['i like apples ', ' mangoes', ' bananas']

In [87]:
#Tuples in python
#Tuples are immutable, meaning that once a tuple is created, it cannot be modified.
#Tuples are defined by enclosing a sequence of values in parentheses ().
#Tuples can be used to store a collection of values, such as a list of numbers or
#strings.
tup1=(1,"a",True,2,"b",False)
tup1

(1, 'a', True, 2, 'b', False)

In [88]:
tup1[0]

1

In [89]:
tup1[-1]

False

In [90]:
tup1(1,"a",True,2,"b",False)
tup1[1:4]

TypeError: 'tuple' object is not callable

In [51]:
tup1[1:5]

[]

In [53]:
tup1[2]="hello"

IndexError: list assignment index out of range

In [54]:
tup1[6]=3+4j

IndexError: list assignment index out of range

In [56]:
min(tup1)

1

In [57]:
tup1=(1,"a",True,2,"b",False)
len(tup1)

6

In [58]:
tup1=(1,"a",True)
tup2=(4,5,6)
tup2+tup1

(4, 5, 6, 1, 'a', True)

In [59]:
tup1 = ('chandu','Gulu',1000)
tup2 = (1,4,3)
tup1*3+tup2

('chandu',
 'Gulu',
 1000,
 'chandu',
 'Gulu',
 1000,
 'chandu',
 'Gulu',
 1000,
 1,
 4,
 3)

In [60]:
tup1=(1,2,3,4,5,6)
min(tup1)

1

In [61]:
max(tup1)

6

In [1]:
#List in python
l1=[1,"a",2,"b",3,"c"]
l1

[1, 'a', 2, 'b', 3, 'c']

In [3]:
l1[1]

'a'

In [4]:
#extract the last element
l1[-1]

'c'

In [7]:
#Changing the element at 0th index
l1=[1,'a',4,'d',3,'c']
l1[0]='chandu'
l1

['chandu', 'a', 4, 'd', 3, 'c']

In [9]:
#Appending a new element
#To add something to the end of a list
l2=[1,'A',2,'B',3,'C',4,'D']
l2.append('Gulu')
l2

[1, 'A', 2, 'B', 3, 'C', 4, 'D', 'Gulu']

In [10]:
#It removes and returns the last element of a list by default
l1=[1,'a','b',2,'c',4,(1+2j)]
l1.pop()
l1

[1, 'a', 'b', 2, 'c', 4]

In [11]:
#Reversing element of a list
l1.reverse()
l1

[4, 'c', 2, 'b', 'a', 1]

In [12]:
l1=[1,2,3,4,5,6,]
l1.reverse()
l1

[6, 5, 4, 3, 2, 1]

In [14]:
#Sorting a list
l1=['mango','banana','guava','apple']
l1.sort()
l1

['apple', 'banana', 'guava', 'mango']

In [15]:
l1=[1,'a',2,'b','c',(2+5j)]
l1.insert(2,'chandu')                #add anything of a list
l1

[1, 'a', 'chandu', 2, 'b', 'c', (2+5j)]

In [16]:
#Concatenating list 
#connect the two list
l1=[1,2,3,4]
l2=['a','b','c','d']
l2+l1

['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [17]:
#Repeating element
l1*3 + l2

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [18]:
#Dictionary in python
#A dictionary is a collection of key-value pairs enclosed with {}
#Keys are unique and immutable, values can be any data type
#Dictionaries are mutable, meaning they can be changed after creation

fruit={'Apple':10,'Banana':20,'Orange':8,'Alu':1}
type(frute)

dict

In [19]:
#Extracting Keys
fruit={'Apple':10,'Banana':20,'Orange':8,'Alu':1}
fruit.keys()

dict_keys(['Apple', 'Banana', 'Orange', 'Alu'])

In [20]:
#Extracting values
fruit={'Apple':10,'Banana':20,'Orange':8,'Alu':1}
fruit.values()

dict_values([10, 20, 8, 1])

In [21]:
#Extracting all the items
fruit.items()

dict_items([('Apple', 10), ('Banana', 20), ('Orange', 8), ('Alu', 1)])

In [22]:
#Adding a new element
fruit={'Apple':10,'orange':20,'Banana':30,'Guava':40}
fruit['Mango']=50
fruit

{'Apple': 10, 'orange': 20, 'Banana': 30, 'Guava': 40, 'Mango': 50}

In [24]:
#changing the existing element
fruit = {'Apple':10,'orange':20,'banana':30,'guava':40,'mango':50}
fruit['Apple']=100
fruit

{'Apple': 100, 'orange': 20, 'banana': 30, 'guava': 40, 'mango': 50}

In [25]:
#Update one dictionary's elemenet  with another
fruit1={'apple':20,'Orange':30}
fruit2={'Guava':50,'banana':100}
fruit.update(fruit2)
fruit1

{'apple': 20, 'Orange': 30, 'Guava': 50, 'banana': 100}

In [28]:
#popping an element
fruit = {'apple':20,'banan':30,'mango':40,'guava':50}
fruit.pop('guava')
fruit

{'apple': 20, 'banan': 30, 'mango': 40}

In [30]:
#set in python 
#set is an unordered and unindexed collection of elements enclosedwith{}
#set is mutable
#set is a collection of unique elements
#Duplicates are not allowed in set
#â‡“
s1={1,'chandu','chandu',1}
s1

{1, 'chandu'}

In [31]:
#Adding a new element
s1={1,'a',True,'b',False}
s1.add('Hello')
s1

{1, False, 'Hello', 'a', 'b'}

In [32]:
#Removing an element
s1={1,'a',True,'b',False}
s1.remove(True)
s1

{False, 'a', 'b'}

In [33]:
#Updating multiple element
s1={1,'a',True,'b',False}
s1.update([10,20,30,'chandu'])
s1

{1, 10, 20, 30, False, 'a', 'b', 'chandu'}

In [35]:
#Union of two sets
s1={1,2,3}
s2={'a','b','c','d'}
s1.union(s2)

{1, 2, 3, 'a', 'b', 'c', 'd'}

In [36]:
#Intersection of two sets
s1={1,2,3,4,5,6,7,8,9}
s2={9,8,7,6,5,'a'}
s1.intersection(s2)

{5, 6, 7, 8, 9}

In [1]:
#If Statement
a=10
b=20
if a>b:
     print("a is greater then b ")

In [2]:
if b>a:
     print("b is greater then a")

b is greater then a

In [3]:
if a>b:
     print('a is greater then b')
else:
     print('b is greater then a')

b is greater then a

In [4]:
a=10
b=20
c=30
if(a>b & a>c):
     print("a is greater than b and c")
elif(b>a & b>c):
     print("b is greater than a and c")
else:
     print("c is greater than a and b")

c is greater than a and b

In [5]:
tup1=(1,2,3,4,5,6)
if 2 in tup1:
     print('2 is present in the tuple')
else:
     print('2 is not present in the tuple')

2 is present in the tuple

In [6]:
tup1=(1,2,3,4,5,6)
if 10 in tup1:
     print(' 10 is present in the tuple')
else:
     print('10 is not present in the tuple')

10 is not present in the tuple

In [9]:
#if whith list
l1=[1,2,3,4,5,6]
if l1[2]==3:
     l1[2]=l1[2]+1000

In [10]:
l1

[1, 2, 1003, 4, 5, 6]

In [11]:
if l1[4]==6:
     l1[4]=l1[4]+1000
else:
     l1[4]=l1[4]+500

In [12]:
l1

[1, 2, 1003, 4, 505, 6]

In [21]:
#if with dictionary
d1={'a':1,'b':3,'c':4}
if d1['b'] == 3:
     d1['b']=d1['b']+100

In [22]:
d1

{'a': 1, 'b': 103, 'c': 4}

In [24]:
#looping Statements in Python
#Looping statement are used to repeat a task multiple times
#There are two types of looping statements in python
#1. For Loop
#2. While Loop
i=1
while i<=10:
     print(i)
     i=i+1

1
2
3
4
5
6
7
8
9
10

In [26]:
i=1

In [27]:
n=5
while i<=10:
     print(n ,'+', i ,'=',n*i )
     i=i+1

5 + 1 = 5
5 + 2 = 10
5 + 3 = 15
5 + 4 = 20
5 + 5 = 25
5 + 6 = 30
5 + 7 = 35
5 + 8 = 40
5 + 9 = 45
5 + 10 = 50

In [193]:
l1 =[1,2,3,4,5]

In [194]:
i =0

In [ ]:
while i <= len(l1):
    l1[i]=l1[i]+100
    i=i+1

In [199]:
l1

[101, 102, 103, 104, 105]

In [200]:
#for Loop is used to iterate over  a sequence(tuple,list,dictionary..)

l1 = ['Apple','Orange','Guava']

for i in l1 :
     print(i)

Apple
Orange
Guava

In [201]:
l1 = ['chandu','anu','abhi','bps']
l2 =['naga','prya','subha','soumya']

for i in l1:
     for j in l2:
          print(i,j)

chandu naga
chandu prya
chandu subha
chandu soumya
anu naga
anu prya
anu subha
anu soumya
abhi naga
abhi prya
abhi subha
abhi soumya
bps naga
bps prya
bps subha
bps soumya

In [18]:
#fuction is a block of code which performs a specific task
#Normal function
def hello():
     print("Hello, Chandu!")

In [19]:
hello()

Hello, Chandu!

In [6]:
#Function with parameter
def add10(x):
     return x+10

In [7]:
add10(10)

20

In [10]:
def even_odd(x):
     if x % 2 == 0:
          print(x,'is even')
     else:
          print(x,'is odd')

In [12]:
even_odd(10)

10 is even

In [13]:
#lambda function
g = lambda x: x*x*x
print(g(7))

343

In [14]:
#lamdbda function with filter
li = [5,7,22,97,54,62,77,23,73,61]
final_list =list(filter(lambda x:(x %2 != 0),li))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [15]:
#lambda function with map
li = [5,7,22,97,54,62,77,23,73,61]
final_list = list(map(lambda x: x*2, li))
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [16]:
from functools import reduce
li  = [5,8,10,20,50,100]
sum = reduce((lambda x,y: x+ y),li)
print(sum)

193